defaults:
  - override hydra/launcher: joblib
shape:
<<<<<<< HEAD
  rmin : 1
=======
  rmin : 50
>>>>>>> dc603943f6c51e257220d61de25cd7c72c7da7f8
  rmax : 500
  alpha: 3.0
  shape_type : "rectangle"
  multiple_shapes : False

task: 1

texture:
  texture: True
  texture_types: ["sin","freq_noise","texture_mixes"]
  texture_type_frequency: [0.25,0.75,0] # has to sum to 1
  slope_range: [[0.5, 1.],[2,2.5]]
  texture_gen: True
  warp: True
  rdm_phase: False
  texture_path: ""
  perspective: True

color:
  natural: True
  color_path: "/Users/raphael/Workspace/telecom/code/exploration_database_and_code/pristine_images/"
  grey: False
  partial_images: False

io:
  path_origin: "datasets/"
<<<<<<< HEAD
  path: "dl/"
=======
  path: "vibrant_leaves_test/"
>>>>>>> dc603943f6c51e257220d61de25cd7c72c7da7f8

post_process:
  downscaling: True
  dof: False
  blur_type: "None"
  blur: False

number : 50
size : 1000
image_type : "dead_leaves" 
test: False
