defaults:
  - override hydra/launcher: joblib
shape:
  rmin : 20
  rmax : 500
  alpha: 3.0
  shape_type : "rectangle"
  multiple_shapes : False

task: 1

texture:
  texture: True
  texture_types: ["sin","freq_noise","texture_mixes"]
  texture_type_frequency: [0.3,0.4,0.3] # has to sum to 1
  slope_range: [[0.5, 1.],[2,2.5]]
  texture_gen: True
  warp: False
  rdm_phase: False
  texture_path: ""
  perspective: True

color:
  natural: True
  color_path: "/scratch/Raphael/data/pristine_images/"
  grey: False
  partial_images: False

io:
  path_origin: "datasets/"
  path: "vibrant_leaves_no_warp_perspective/"
post_process:
  downscaling: True
  dof: True
  blur_type: "lens"
  blur: False

number : 50
size : 1000
image_type : "dead_leaves" 
test: False
