defaults:
  - override hydra/launcher: joblib
shape:
  rmin : 15
  rmax : 500
  alpha: 3.0
  shape_type : "poly"
  multiple_shapes : False

task: 1

texture:
  texture: True
  texture_types: ["sin","freq_noise","texture_mixes"]
  texture_type_frequency: [1,0.,0] # has to sum to 1

  slope_range: [[0.5, 1.],[2,2.5]]
  texture_gen: True
  warp: False
  rdm_phase: False
  texture_path: ""
  perspective: True

color:
  natural: True
  color_path: "/scratch/Raphael/data/pristine_images/"
  grey: False
  partial_images: False

io:
  path_origin: "datasets/"
  path: "vibrant_leaves_sinusoids/"

post_process:
  downscaling: False
  dof: False
  blur_type: "None"
  blur: False

number : 50
size : 512
image_type : "dead_leaves" 
test: False
